* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #000;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  color: #1f2d3d;
  line-height: 20px;
}

strong {
  font-size: 14px;
  font-weight: 400;
  color: #afb3b9;
  line-height: 20px;
}

p {
  font-size: 16px;
  color: #79818b;
  line-height: 24px;
}

/* ▼ WHERE YOUR CODE BEGINS */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.card {
  max-width: 540px;
  padding: 20px;
  background-color: #e5e5e5;
}

.card-user, .card-content {
  float: left;
}

.card-user {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 20px;
}

.card-content {
  /* border: 1px solid #000; */
}

.card-content h1 {
  margin-bottom: 4px;
}

.card-content strong {
  /* strong 태그라 기본 display 설정이 inline으로 설정되어 있음에 유의 */
  display: block;
  margin-bottom: 12px;
}